<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="7.0.5100.0">
	<notifications newPostNotificationTemplateId="a6cbc287-ae97-616c-accb-ff00009b0b8b" newThreadNotificationTemplateId="a7cbc287-ae97-616c-accb-ff00009b0b8b" />
</forumsConfig>